<!--/* 

This HTL should be overridden in sling:resource_SUB_Type concrete top-level HTL
with the editable fields of the actual component

*/-->
<input type="text" id="headline-input" value="You should not see this! Add an edit-form-fields.html to the concrete component."
	class="inline-headline-input" placeholder="Headline" form="editor-form" />
<textarea id="content-editor" style="display:none;">
  You should not see this! Add an edit-form-fields.html to the concrete component.
</textarea>
<input type="hidden" id="content-hidden" />
