<!--/*
This HTL should be overridden in the concrete component's edit-form-fields.html
with the actual editable fields.
*/-->
<input type="text" id="headline-input" value="You should not see this! Add an edit-form-fields.html to the concrete component."
  class="inline-headline-input" placeholder="Headline" form="editor-form" />
<textarea id="content-editor" style="display:none;">
  You should not see this! Add an edit-form-fields.html to the concrete component.
</textarea>
<input type="hidden" id="content-hidden" />
