[defaults]
inventory                  = inventory/hosts.yml
roles_path                 = roles
collections_path           = ~/.ansible/collections:./collections
host_key_checking          = True
retry_files_enabled        = False
stdout_callback            = yaml
forks                      = 10
gathering                  = smart
fact_caching               = jsonfile
fact_caching_connection    = .ansible-facts
fact_caching_timeout       = 7200
interpreter_python         = auto_silent
deprecation_warnings       = True
display_skipped_hosts      = False

[ssh_connection]
pipelining                 = True
control_path               = ~/.ssh/cp-%%h-%%p-%%r
ssh_args                   = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30

[privilege_escalation]
become                     = True
become_method              = sudo
become_user                = root
